Day 02 - Part 1

The first column is what your opponent is going to play: A for Rock, B for Paper, and C for Scissors.

The second column, you reason, must be what you should play in response: X for Rock, Y for Paper, and Z for Scissors.

Your total score is the sum of your scores for each round. The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

What would your total score be if everything goes exactly according to your strategy guide?

In [1]:
# Libraries

import numpy as np
import pandas as pd

# Read input file
all_lines = []

with open('input.txt') as file:
    all_lines = [line.rstrip().split(' ') for line in file]

# Create dataframe
input_df = pd.DataFrame(all_lines)

In [2]:
# Helper methods

def shape_score(shape: str) -> int:
    if shape == 'X':
        return 1
    elif shape == 'Y':
        return 2
    elif shape == 'Z':
        return 3
    else:
        # This should not exist
        return 0


def round_outcome_score(*, opponent: str, me: str) -> int:
    if me == 'X':
        if opponent == 'C':
            return 6
        elif opponent == 'A':
            return 3
        else:
            return 0
    
    elif me == 'Y':
        if opponent == 'A':
            return 6
        elif opponent == 'B':
            return 3
        else:
            return 0
    
    else:
        if opponent == 'B':
            return 6
        elif opponent == 'C':
            return 3
        else:
            return 0

In [3]:
# Calculate score
part1_df = input_df.copy()
part1_df.columns = ['opponent', 'me']
part1_df['shape_score'] = part1_df['me'].apply(shape_score)
part1_df['round_outcome_score'] = part1_df.apply(
    lambda x: round_outcome_score(
        opponent=x['opponent'], me=x['me']), axis=1)

part1_df['total_score'] = part1_df['shape_score'] + part1_df['round_outcome_score']

In [4]:
part1_df

     opponent me  shape_score  round_outcome_score  total_score
0           C  Z            3                    3            6
1           C  Z            3                    3            6
2           A  Y            2                    6            8
3           A  X            1                    3            4
4           C  Z            3                    3            6
...       ... ..          ...                  ...          ...
2495        A  X            1                    3            4
2496        C  X            1                    6            7
2497        A  X            1                    3            4
2498        A  Y            2                    6            8
2499        C  X            1                    6            7

[2500 rows x 5 columns]

In [5]:
# Part 1 result
part1_df['total_score'].sum()

12156

---

Day 02 - Part 2

The second column says how the round needs to end: X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win. Good luck!

What would your total score be if everything goes exactly according to your strategy guide?

In [6]:
# Dataframe
part2_df = input_df.copy()
part2_df.columns = ['opponent', 'outcome']

In [7]:
# Rename column
rename_outcome_dict = {'X': 'lose', 'Y': 'draw', 'Z': 'win'}
part2_df['outcome'] = part2_df['outcome'].replace(rename_outcome_dict)

In [8]:
# Helper method

def determine_my_play(*, opponent: str, outcome: str) -> str:
    if outcome == 'lose':
        if opponent == 'A':
            return 'Z'
        elif opponent == 'B':
            return 'X'
        else:
            return 'Y'
        
    elif outcome == 'draw':
        if opponent == 'A':
            return 'X'
        elif opponent == 'B':
            return 'Y'
        else:
            return 'Z'
        
    else:
        if opponent == 'A':
            return 'Y'
        elif opponent == 'B':
            return 'Z'
        else:
            return 'X'

In [9]:
# Determine my play
part2_df['me'] = part2_df.apply(
    lambda x: determine_my_play(opponent=x['opponent'], outcome=x['outcome']), axis=1)

In [10]:
# Calculate score
part2_df['shape_score'] = part2_df['me'].apply(shape_score)
part2_df['round_outcome_score'] = part2_df.apply(
    lambda x: round_outcome_score(
        opponent=x['opponent'], me=x['me']), axis=1)

part2_df['total_score'] = part2_df['shape_score'] + part2_df['round_outcome_score']

In [11]:
part2_df

     opponent outcome me  shape_score  round_outcome_score  total_score
0           C     win  X            1                    6            7
1           C     win  X            1                    6            7
2           A    draw  X            1                    3            4
3           A    lose  Z            3                    0            3
4           C     win  X            1                    6            7
...       ...     ... ..          ...                  ...          ...
2495        A    lose  Z            3                    0            3
2496        C    lose  Y            2                    0            2
2497        A    lose  Z            3                    0            3
2498        A    draw  X            1                    3            4
2499        C    lose  Y            2                    0            2

[2500 rows x 6 columns]

In [12]:
# Part 2 result
part2_df['total_score'].sum()

10835